@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 450px:			Phone portrait
450 - 600px:		Phone-land
600 - 900px:		Tablet portrait
900 - 1200px:		Tablet landscape
[1200 - 1800px]:	Normal styles apply
1800px + :			Big desktop
*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone-port {
		@media only screen and (max-width: 28.125em) { @content };		// 450px
	}
	@if $breakpoint == phone-land {
		@media only screen and (max-width: 37.5em) { @content };		// 600px
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) { @content };		// 900px
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) { @content };			// 1200px
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) { @content };		// 1800px
	}
}

@mixin background-respond($bg-breakpoint) {
	@if $bg-breakpoint == hi-res {
		@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
			   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
			   only screen and (min-resolution: 96dpi) and (min-width: 112.5em),
			   only screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 112.5em) {
			@content
		}; // screens with DPR 2.0+ and larger than 600px OR screens with DPR 1.0 larger than 1800px
	}
	@if $bg-breakpoint == hi-dpi-device {
		@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
			   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) { 
			@content 
		}; // screens with DPR 2.0+ and larger than 600px
	}
}